# Pandas Basics
In this chapter, you will see a brief introduction to the Pandas series
and Dataframes, which are two basic data structures for storing data
in Pandas. Next, you will see how to create these data structures and
some basic functions that you can perform with Pandas. You will then
study how to import datasets into a Pandas dataframe using various
input sources. Finally, the chapter concludes with an explanation of
the techniques for handling missing data in Pandas dataframes.

## 1. Pandas Series
A Pandas series is a data structure that stores data in the form of a
column. A series is normally used to store information about a
particular attribute in your dataset. Let’s see how you can create a
series in Pandas.

### 1.1. Creating Pandas Series
There are different ways to create a series with Pandas. The
following script imports the Pandas module and then calls the
Series() class constructor to create an empty series.

In [2]:
# Import the pandas library and give it the alias 'pd'
import pandas as pd

# Create an empty pandas Series object
my_series = pd.Series()

# Print the empty Series to the console
print(my_series)

Series([], dtype: object)

In [3]:
# Import the pandas library and give it the alias 'pd'
import pandas as pd

# Import the numpy library and give it the alias 'np'
import numpy as np

# Create a NumPy array with the values 10, 20, 30, 40, 50
my_array = np.array([10, 20, 30, 40, 50])

# Convert the NumPy array into a Pandas Series
my_series = pd.Series(my_array)

# Print the Pandas Series to the console
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
# Create a NumPy array with five integer elements
my_array = np.array([10, 20, 30, 40, 50])

# Create a Pandas Series using the NumPy array
# Assign custom indexes ("num1" to "num5") to the series
my_series = pd.Series(my_array, index=["num1", "num2", "num3", "num4", "num5"])

# Print the Pandas Series to display its data along with custom indexes
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int32

In [5]:
# Create a Pandas Series with a list of values [10, 20, 30, 40, 50]
# Assign custom index labels ["num1", "num2", "num3", "num4", "num5"] to each value
my_series = pd.Series([10, 20, 30, 40, 50], index=["num1", "num2", "num3", "num4", "num5"])

# Print the Series to display its contents
print(my_series)

num1    10
num2    20
num3    30
num4    40
num5    50
dtype: int64

In [6]:
# Create a pandas Series with a scalar value 25
# The scalar 25 will be assigned to all the specified index labels
my_series = pd.Series(25, index=["num1", "num2", "num3", "num4", "num5"])

# Print the created Series
print(my_series)

num1    25
num2    25
num3    25
num4    25
num5    25
dtype: int64

In [7]:
# Define a dictionary with three key-value pairs
# Keys are 'num1', 'num2', 'num3', and values are 6, 7, and 8 respectively
my_dict = {
    'num1': 6,
    'num2': 7,
    'num3': 8
}

# Create a Pandas Series from the dictionary
# The dictionary keys become the index of the Series
# The dictionary values become the data of the Series
my_series = pd.Series(my_dict)

# Print the resulting Series to the console
print(my_series)

num1    6
num2    7
num3    8
dtype: int64

### 1.2. Useful Operations on Pandas Series
Let’s see some of the useful operations you can perform with the
Pandas series.
You can use square brackets as well as index labels to access series
items.

In [9]:
# Create a pandas Series with values and custom index labels
my_series = pd.Series(
    [10, 20, 30, 40, 50],
    index=["num1", "num2", "num3", "num4", "num5"]
)

# Access by position using .iloc (avoids FutureWarning)
print(my_series.iloc[0])  # Output: 10

# Access by label stays the same
print(my_series['num3'])  # Output: 30

10
30

In [10]:
# Create a Pandas Series (1D array-like object) with some integer values
my_series = pd.Series([5, 8, 2, 11, 9])

# Find and print the minimum value in the Series using NumPy's min function
print(np.min(my_series))

# Find and print the maximum value in the Series using NumPy's max function
print(np.max(my_series))

2
11

In [11]:
# Create a Pandas Series object with a list of numbers
my_series = pd.Series([5, 8, 2, 11, 9])

# Calculate and print the mean (average) of the values in the Series
print(my_series.mean())

7.0

In [12]:
# Create a Pandas Series (a one-dimensional array) with a list of numbers
my_series = pd.Series([5, 8, 2, 11, 9])

# Calculate and print the median value of the series
print(my_series.median())

8.0

In [13]:
# Create a Pandas Series object from a list of integers
my_series = pd.Series([5, 8, 2, 11, 9])

# Print the data type (dtype) of the elements stored in the Series
print(my_series.dtype)

int64

In [14]:
# Create a Pandas Series from a Python list of integers
my_series = pd.Series([5, 8, 2, 11, 9])

# Convert the Pandas Series to a Python list using the .tolist() method
# and print the resulting list
print(my_series.tolist())

[5, 8, 2, 11, 9]

## 2. Pandas Dataframe
Pandas dataframe is a tabular data structure that stores data in the
form of rows and columns. As a standard, the rows correspond to
records while columns refer to attributes. In simplest words, a Pandas
dataframe is a collection of series.

### 2.1. Creating a Pandas Dataframe
As is the case with a series, there are multiple ways to create a
Pandas dataframe.
To create an empty dataframe, you can use the DataFrame class
from the Pandas module.

In [16]:
# Create an empty pandas DataFrame
my_df = pd.DataFrame()

# Print the empty DataFrame to the console
print(my_df)

Empty DataFrame
Columns: []
Index: []

In [17]:
# Create a list of lists where each sublist contains a subject and its corresponding score
scores = [
    ['Mathematics', 85],
    ['English', 91],
    ['History', 95]
]

# Create a DataFrame from the list of lists
# Set column names as 'Subject' and 'Score'
my_df = pd.DataFrame(scores, columns=['Subject', 'Score'])

# Display the DataFrame
print(my_df)

       Subject  Score
0  Mathematics     85
1      English     91
2      History     95

In [18]:
# Create a dictionary named 'scores' with two keys: 'Subject' and 'Score'
# 'Subject' contains a list of subjects
# 'Score' contains a list of corresponding scores
scores = {
    'Subject': ["Mathematics", "History", "English", "Science", "Arts"],
    'Score': [98, 75, 68, 82, 99]
}

# Convert the dictionary into a Pandas DataFrame and assign it to 'my_df'
# A DataFrame is like a table with rows and columns
my_df = pd.DataFrame(scores)

# Display the DataFrame to see the data in tabular form
print(my_df)

       Subject  Score
0  Mathematics     98
1      History     75
2      English     68
3      Science     82
4         Arts     99

In [19]:
# Create a list of dictionaries where each dictionary represents a subject and its corresponding score
scores = [
    {'Subject': 'Mathematics', 'Score': 85},  # Mathematics score
    {'Subject': 'History', 'Score': 98},      # History score
    {'Subject': 'English', 'Score': 76},      # English score
    {'Subject': 'Science', 'Score': 72},      # Science score
    {'Subject': 'Arts', 'Score': 95}          # Arts score
]

# Convert the list of dictionaries into a pandas DataFrame
my_df = pd.DataFrame(scores)

# Print the DataFrame to display it as a table
print(my_df)

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3      Science     72
4         Arts     95

In [20]:
# Create a list of dictionaries, each representing a row in the DataFrame
# Each dictionary contains a subject and a score
# One dictionary is missing the 'Subject' key to demonstrate handling of null values
scores = [
    {'Subject': 'Mathematics', 'Score': 85},
    {'Subject': 'History', 'Score': 98},
    {'Subject': 'English', 'Score': 76},
    {'Score': 72},  # This entry has no 'Subject' key, will result in NaN for 'Subject'
    {'Subject': 'Arts', 'Score': 95},
]

# Create a DataFrame from the list of dictionaries
# Pandas automatically handles missing values and fills them with NaN (Not a Number)
my_df = pd.DataFrame(scores)

# Print the DataFrame to display its contents, including the null value
print(my_df)

       Subject  Score
0  Mathematics     85
1      History     98
2      English     76
3          NaN     72
4         Arts     95

### 2.2. Basic Operations on Pandas Dataframe
Let’s now see some of the basic operations that you can perform on
Pandas dataframes. To view the top(N) rows of a dataframe, you can call the head() method

In [21]:
# Create a list of dictionaries where each dictionary represents a subject and its corresponding score
scores = [
    {'Subject': 'Mathematics', 'Score': 85},  # Mathematics score
    {'Subject': 'History', 'Score': 98},      # History score
    {'Subject': 'English', 'Score': 76},      # English score
    {'Subject': 'Science', 'Score': 72},      # Science score
    {'Subject': 'Arts', 'Score': 95},         # Arts score
]

# Convert the list of dictionaries into a Pandas DataFrame
# This will create a table-like structure with 'Subject' and 'Score' as columns
my_df = pd.DataFrame(scores)

# Display the first 2 rows of the DataFrame to preview the data
my_df.head(2)

       Subject  Score
0  Mathematics     85
1      History     98

In [22]:
# Create a Pandas DataFrame from the 'scores' data (could be a list of dicts, dict of lists, etc.)
my_df = pd.DataFrame(scores)

# Display the last 2 rows of the DataFrame
my_df.tail(2)

   Subject  Score
3  Science     72
4     Arts     95

In [23]:
# Create a new Pandas DataFrame from the 'scores' data (could be a list of dicts, dict of lists, etc.)
my_df = pd.DataFrame(scores)

# Display a concise summary of the DataFrame, including column names, data types, and non-null counts
my_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Subject  5 non-null      object
 1   Score    5 non-null      int64
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [24]:
# Create a Pandas DataFrame from the 'scores' data (which could be a list, dictionary, or array)
my_df = pd.DataFrame(scores)

# Generate descriptive statistics for the DataFrame
# This includes count, mean, standard deviation, min, max, and quartile values
my_df.describe()

           Score
count   5.000000
mean   85.200000
std    11.388591
min    72.000000
25%    76.000000
50%    85.000000
75%    95.000000
max    98.000000

### 2.3. Importing Data in Pandas
You can import data from various sources into your Pandas dataframe.

#### 2.3.1. Importing CSV Files
A CSV file is a type of file where each line contains a single record,
and all the columns are separated from each other via a comma.
You can read CSV files using the read_csv()
function of the Pandas
dataframe

In [25]:
url = "https://raw.githubusercontent.com/duochen/Data-Science-Launchpad/refs/heads/main/Lecture03/Exercises/Data/iris_data.csv"

# Read the CSV file from the specified path into a DataFrame called 'iris_data'
# Replace the file path with your actual dataset location if needed
iris_data = pd.read_csv(url)

# Display the first 5 rows of the DataFrame to get a quick look at the data
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [26]:
# Define a list of column headers for the dataset
headers = ["Preg",       # Number of times pregnant
           "Glucose",    # Plasma glucose concentration
           "BP",         # Diastolic blood pressure (mm Hg)
           "skinThick",  # Triceps skinfold thickness (mm)
           "Insulin",    # 2-Hour serum insulin (mu U/ml)
           "BMI",        # Body Mass Index (weight in kg/(height in m)^2)
           "DPF",        # Diabetes Pedigree Function (genetic likelihood of diabetes)
           "Age",        # Age of the patient (years)
           "Class"]      # Class variable (0 = non-diabetic, 1 = diabetic)

# Specify the URL where the CSV dataset is hosted
url = "https://raw.githubusercontent.com/duochen/Data-Science-Launchpad/refs/heads/main/Lecture03/Exercises/Data/pima-indiansdiabetes.csv"

# Load the CSV data from the URL into a Pandas DataFrame
# The 'names' parameter assigns the column headers defined earlier
patient_data = pd.read_csv(url, names=headers)

# Display the first 5 rows of the DataFrame to get a quick look at the dataset
patient_data.head()

,Preg,Glucose,BP,skinThick,Insulin,BMI,DPF,Age,Class
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

#### 2.3.2. Importing TSV Files
TSV files are similar to CSV files. But in a TSV file, the delimiter used
to separate columns is a single tab. The read_csv()
function can be
used to read a TSV file. However, you have to pass “\t” as a value for
the “sep” attribute.

In [28]:
url = "https://raw.githubusercontent.com/duochen/Data-Science-Launchpad/refs/heads/main/Lecture03/Exercises/Data/iris_data.csv"

# Read the TSV (tab-separated values) file into a pandas DataFrame
# r"" makes the path a raw string (so backslashes \ are treated literally)
# sep='\t' specifies that the file uses tab characters as the separator
patients_csv = pd.read_csv(url, sep='\t')

# Display the first 5 rows of the DataFrame to quickly inspect the data
patients_csv.head()

  sepal_length,sepal_width,petal_length,petal_width,species
0                        5.1,3.5,1.4,0.2,Iris-setosa
1                        4.9,3.0,1.4,0.2,Iris-setosa
2                        4.7,3.2,1.3,0.2,Iris-setosa
3                        4.6,3.1,1.5,0.2,Iris-setosa
4                        5.0,3.6,1.4,0.2,Iris-setosa